@font-face
{
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-1.0.3/ttf/JetBrainsMono-Regular.ttf');

    src: url('../Fonts/JetBrainsMono-1.0.3/ttf/JetBrainsMono-Regular.woff')format('woff'),
 
    url('../Fonts/JetBrainsMono-1.0.3/ttf/JetBrainsMono-Regular.ttf')format('truetype'),

    url('../Fonts/JetBrainsMono-1.0.3/ttf/JetBrainsMono-Bold.woff')format('woff2');

    font-weight: normal;
    font-style: normal;



}



@font-face
{
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-1.0.3/ttf/JetBrainsMono-Regular.ttf');

    src: url('../Fonts/JetBrainsMono-1.0.3/ttf/JetBrainsMono-Regular.ttf')format('truetype');
    font-weight: bold;
    font-style: italic;

}

@font-face
{
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-1.0.3/ttf/JetBrainsMono-Regular.ttf');

    src: url('../Fonts/JetBrainsMono-1.0.3/ttf/JetBrainsMono-Regular.ttf')format('truetype');
    font-weight: normal;
    font-style: italic;

}


@font-face
{
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-1.0.3/ttf/JetBrainsMono-Regular.ttf');

    src: url('../Fonts/JetBrainsMono-1.0.3/ttf/JetBrainsMono-Regular.ttf')format('truetype');
    font-weight: bold;
    font-style: normal;

}

@keyframes my-animation
{
    0%
    {/*We desire to define at which point in an animation changes occur!*/
        transform: scale(1);/*what should change at this point in the animation???*/
    
    }
    50%
    {
        transform: scale(1.2);
    }
    75%
    {
        transform: scale(1.5);
    }
    100%
    {
        transform: scale(1);
    }
}



/*Basic browser reset*/

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 16px;
}

/* Text meant only for screen readers. :ACCESSIBILITY*/
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;

}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

.hide-me {
list-style: none;
height: 0;
}

.OVERFLOW-HIDDEN
{
    overflow: hidden;
    height: 100px;
}
.OVERFLOW-VISIBLE
{
    overflow: visible;
    height: 35px;
}

.OVERFLOW-SCROLL
{
    overflow: scroll;
    height: 35px;
}

nav{
    width: auto;
    max-width:500px;
    background-color: salmon;
    margin: 16px auto; /*this means we want 16 px for top,the left and right is auto */
    
    Position: fixed;
    margin: 0 auto;
    bottom: auto;
    left:0;
    top:0;
    right: 0;
    z-index: 4;
}


nav ul {
    text-align: center;
    padding: 0;
}

nav ul li {
    display:inline-block;

}

nav ul li a {
    text-decoration: none; /*Disable the underline*/
    display: inline-block;
    padding: 16px 32ox
}
    
    
    nav ul li a:hover {
        background-color: rgb(50,50,50);
        color: royalblue;
        


    }


p
{
    font-family: "Times New Roman" Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color:rgb(33, 33, 33, 33);
   background-color: #eeeeee;
   text-align: center;
   margin-bottom: 16px;
   

}

article {
    width:auto;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;

}

body
{
    background-image:url(../IMG/whiterose.jpg);
    background-size:cover;/*cover the whole element*/
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;

    
}

#float-practice
{
    float: right;
    margin-top: 0;
    margin-right: 16px;
    margin-bottom: 16px;
    margin-left: 0;
}
/*margin:0 16px 16px 0(top,right,bottom,left);*/


#z-index-practice
{
    display:block;
    position: absolute;
    /*visual layering! Think Photoshop...which element should appear "on-top"*/
}

#background-bullets,
#image-bullets
{
    list-style: none;
    margin: 16px auto;
    padding: 16px 16px 16px 64px
}

#background-bullets li
{
    background-image: url("../IMG/coin.jpg");
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: top left;
    padding:8px 8px 8px 64px;
}

#image-bullets li {
    position: relative;
    padding: 8px 8px 8px 64px;
}
#image-bullets li img
{
    position:absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;

}

code
{
    white-space: pre;
    font-family: "JetBrains Mono", Consolas, monospace;
    color: blue;
}

h1,h2,h4,h5,h6{
    font-size: 50px;
    font-family: "Great Vibes", Georgia, Serif;
    padding-top: 16px;
}

h1{
    text-align: center;
    padding-top: 50px;

}

h2{
    font-family: 'Great vibes', 'Comic sans', 'cursive';
    font-size: 32px;
    color:green;
}
#social-media-links {
    list-style: none;
    text-align: center;
}
.gradient-bg
{
    /*gradient generated at https://CSSGradient.IO*/
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,28,121,1) 35%, rgba(0,212,255,1) 100%);
    height: 300px;
    opacity: 0.75;
    margin-top: 50px;
    box-shadow: 32px 32px 0 0 rgba(0,0, 1, 1);
}

.speech-bubble
{
    background: rgba(255, 255, 255, 0.95);
    border-radius:1.5em;
    border-bottom-right-radius: 0; /*sharp ends of the box, if you dont want the sparp ends, remove this*/
    max-width:300px;
    padding:1.51em;
    color: rgba(33,33,33, 1);
    margin-top: 75px;
    position: relative;
}

.speech-bubble::after{ /*Double colom is a PSEUDO ELEMENT.This is a fake element...keep in mind its content cannot be read by screen-readers or search engines--> ONLY use it for purely visual text with no importance/meaning*/
    /*Pseudo-elements require the "contnet" property*/
    content: '';
    display: block;
    width: 0;
    height: 0;
    box-sizing: content-box;
    border-top: 0 solid transparent;
    border-right: 32px solid rgba(255, 255, 255, 0.95);
    border-bottom: 32px solid transparent;
    border-left: 0 solid transparent;
    /* <--End triangle. */
    /*Position it at the bottom right corner:*/
    position: absolute;
    top: 100%;
    right: 0;
}


.video-section::before
{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100;
    background: rgba(255, 255, 255, 0.40);
    z-index:2;
}
/*transform buttons*/

.transition-transform button
{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: gray;
    background: lavenderblush;
    padding: 8px 16px;
    border: 3px solid black;
    margin: 32px;
    cursor: pointer; /*mIckey mouse hand !*/
    transition: 1s linear border, 
    0.3s ease-in padding,
    0.5s ease-in background-color,
    2s ease color,
    4s ease font-size;
}

.transition-transform button:hover,
.transition-transform button:focus,
.transition-transform button:active
{
    color: lavenderblush;
    background: lavenderblush;
    font-size: 16;
    padding: 12px 20px;
    border: 6px dotted indigo;
    
}
.transition-transform button:nth-child(2)
/* Need more help contatct https://css-tricks.com/useful-nth-child-recipes */
 /*we can specify children!This can save us from ID- or CLASS -itus!Only use IDs and classes where yiu need.*/
{
    background-color: black;
    color: lightblue;
}

.transition-transform button :nth-child(3)
{
    color:lightpink;
    background-color: darkgoldenrod;
}

/* Tranform/hover example:*/
.transition-transform div{
    display: inline-block;
    padding: 8px 16px;
    background-color: turquoise;
    cursor: pointer;
    transition: 1s ease transform;
}
.transition-transform div + div{ /*Find a div beside a div...this is a "directly-followed-by" sibling selector.*/
    background-color: turquoise;
    pointer-events: none;/*Disable hover/click/etc for the element. */
                        /*WARNING: Will affect your JavaScript and all mouse actions!*/
}

.transition-transform div:hover + div {
    /*Now were combining our pseudo (state) selector for hover, and telling the FOLLOWING div how to behave!*/
    transform:
        translate( 100px, -50px ) /*Move based on X and Y coordinates.*/
        rotate( 35deg )/*Rotation in degrees*/
        scale( 2 );/*Resize the element (1=100%, 0=o%; 2=200% etc)*/

        /*keyframe testing*/
}


#keyframe-test{
    width: 100px;
    height: 100px;
    background-color: firebrick;
    margin: 64PX;
    border-radius: 100px;
    /*LETS ANIMATE*/
    animation-name: my-animation;/*call it by name*/
    animation-duration: 2s;/*how long should the animation be*/
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
}

       

.video-section
{
   position: relative;
   overflow: hidden;
}

.video-section >*
{
    position: relative;
    z-index:3;
}

.video-section p{
    background: none;
}

.video-section video{
    position: absolute;
   /* top:0;*/
    right: 0;
   /* left: 0;*/
    right: 0;
    bottom: 0;
    width: 150%;
    height: auto;
    z-index: 1;
}

#social-media-link >li /*Direct child selector ">". The LI must be directly inside the element with the "social-media-links" id in this case*/
{
display: inline-block;
margin: 8px; /*Observe! Margin collapse- the largest, when interacting , wins!*/
}
#social-media-links .fab
{
color: rgba(50,50, 50,1); /*RGBA -the "a" stands for ALPHA channel.*/
font-size: 32px;
}

#social-media-links a:hover .fab{ /*Pseudo-selector with nesting.*/

    color:rgba(50,50, 50,0.5);
}

@media screen and (min-width:1024px)

{
body {
    background:red;
}

    h1{
        font-size: 54px;
    }
    h2{
        font-size: 32px;
    }

    h3{
        font-size: 28px;
    }
}

