@font-face
{
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-1.0.3/ttf/JetBrainsMono-Regular.ttf');

    src: url('../Fonts/JetBrainsMono-1.0.3/ttf/JetBrainsMono-Regular.woff')format('woff'),
 
    url('../Fonts/JetBrainsMono-1.0.3/ttf/JetBrainsMono-Regular.ttf')format('truetype'),

    url('../Fonts/JetBrainsMono-1.0.3/ttf/JetBrainsMono-Bold.woff')format('woff2');

    font-weight: normal;
    font-style: normal;



}



@font-face
{
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-1.0.3/ttf/JetBrainsMono-Regular.ttf');

    src: url('../Fonts/JetBrainsMono-1.0.3/ttf/JetBrainsMono-Regular.ttf')format('truetype');
    font-weight: bold;
    font-style: italic;

}

@font-face
{
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-1.0.3/ttf/JetBrainsMono-Regular.ttf');

    src: url('../Fonts/JetBrainsMono-1.0.3/ttf/JetBrainsMono-Regular.ttf')format('truetype');
    font-weight: normal;
    font-style: italic;

}


@font-face
{
    font-family: 'JetBrains Mono';
    src: url('../fonts/JetBrainsMono-1.0.3/ttf/JetBrainsMono-Regular.ttf');

    src: url('../Fonts/JetBrainsMono-1.0.3/ttf/JetBrainsMono-Regular.ttf')format('truetype');
    font-weight: bold;
    font-style: normal;

}



/*Basic browser reset*/

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 16px;
}

/* Text meant only for screen readers. :ACCESSIBILITY*/
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;

}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

.hide-me {
list-style: none;
height: 0;
}

.OVERFLOW-HIDDEN
{
    overflow: hidden;
    height: 100px;
}
.OVERFLOW-VISIBLE
{
    overflow: visible;
    height: 35px;
}

.OVERFLOW-SCROLL
{
    overflow: scroll;
    height: 35px;
}

nav{
    width: auto;
    max-width:500px;
    background-color: salmon;
    margin: 16px auto; /*this means we want 16 px for top,the left and right is auto */
    Position: relative;
    bottom: 10px;
}

nav ul {
    text-align: center;
    padding: 0;
}

nav ul li {
    display:inline-block;

}

nav ul li a {
    text-decoration: none; /*Disable the underline*/
    display: inline-block;
    padding: 16px 32ox
}
    
    
    nav ul li a:hover {
        background-color: rgb(50,50,50);
        color: royalblue;
        


    }


p
{
    font-family: "Times New Roman" Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color:rgb(33, 33, 33, 33);
   background-color: #eeeeee;
   text-align: center;
   margin-bottom: 16px;
   

}

article {
    width:auto;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;

}

body
{
    background-image:url(../IMG/whiterose.jpg);
    background-size:cover;/*cover the whole element*/
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;

    
}

#float-practice
{
    float: right;
    margin-top: 0;
    margin-right: 16px;
    margin-bottom: 16px;
    margin-left: 0;
}
/*margin:0 16px 16px 0(top,right,bottom,left);*/


#z-index-practice
{
    display:block;
    position: absolute;
    /*visual layering! Think Photoshop...which element should appear "on-top"*/
}

#background-bullets,
#image-bullets
{
    list-style: none;
    margin: 16px auto;
    padding: 16px 16px 16px 64px
}

#background-bullets li
{
    background-image: url("../IMG/coin.jpg");
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: top left;
    padding:8px 8px 8px 64px;
}

#image-bullets li {
    position: relative;
    padding: 8px 8px 8px 64px;
}
#image-bullets li img
{
    position:absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;

}

code
{
    white-space: pre;
    font-family: "JetBrains Mono", Consolas, monospace;
    color: blue;
}

h1,h2,h4,h5,h6{
    font-size: 50px;
    font-family: "Great Vibes", Georgia, Serif;
    padding-top: 16px;
}

h1{
    text-align: center;
    padding-top: 50px;

}

h2{
    font-family: 'Great vibes', 'Comic sans', 'cursive';
    font-size: 32px;
    color:green;
}
#social-media-links {
    list-style: none;
    text-align: center;
}

#social-media-link >li /*Direct child selector ">". The LI must be directly inside the element with the "social-media-links" id in this case*/
{
display: inline-block;
margin: 8px; /*Observe! Margin collapse- the largest, when interacting , wins!*/
}
#social-media-links .fab
{
color: rgba(50,50, 50,1); /*RGBA -the "a" stands for ALPHA channel.*/
font-size: 32px;
}

#social-media-links a:hover .fab{ /*Pseudo-selector with nesting.*/

    color:rgba(50,50, 50,0.5);
}

@media screen and (min-width:1024px)

{
body {
    background:red;
}

    h1{
        font-size: 54px;
    }
    h2{
        font-size: 32px;
    }

    h3{
        font-size: 28px;
    }
}

